.Title {
  text-transform: capitalize;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 67px;
  color: #1d1f22;
  margin-left: 110px;
}

.AllParentDiv {
  margin-top: 60px;
}
.AllProductsWrapper {
  margin-top: 45px;
  margin-left: 100px;
}
