.ModalCartAttributeBoxOn{
    width: 25px;
  height: 25px;
    color: #fff;
    background: #1D1F22;
    border: 1px solid #1D1F22;
    text-align: center;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
padding: 7px;
    }

    .ModalCartAttributeBoxOff{
        width: 25px;
  height: 25px;
        border: 1px solid #1D1F22;
        text-align: center;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
padding: 7px;
        }


.ModalCartAttributeBoxOff:not(.ModalCartAttributeBoxOff:first-child){
    margin-left: 8px;
  }

  .ModalCartAttributeBoxOn:not(.ModalCartAttributeBoxOn:first-child){
    margin-left: 8px;
  }

 .ModalCartAttItemwrapper{
  display: flex;
 }