
/* .Nav-bar {
position: fixed;
top: 0;
right: 0;
left: 0;
bottom: 0;
z-index: 80;
} */

.Nav {
  display: flex;
  justify-content: space-around;
  align-content: center;
  height: 80px;
  width: 100%;
  padding: 10px;
}

.ListParent {
  width: 20%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-left: -200px;
}
.List {
  text-decoration: none;
}

.DollarSign {
  width: 12px;
  height: 29px;
  margin-top: -5px;
  /* --price-regular-font */

  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  /* identical to box height, or 29px */

  /* --c-black */

  color: #1d1f22;
}

.Symbol {
  display: flex;
}

.Nav-Link {
  width: 65px;
  height: 20px;
  color: #1d1f22;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height, or 19px */
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.Nav-Link:link {
  color: #5ece7b;
}

.Nav-Link:visited {
  color: #1d1f22;
}

.Nav-Link:hover {
  color: #5ece7b;
  border-bottom: 2px solid #5ece7b;
}

.Nav-Link:active {
  color: #5ece7b;
  border-bottom: 2px solid #5ece7b;
}

.DivCurrencyList {
  margin-left: -30px;
}

.Logoicon2 {
  margin-top: -27px;
  margin-left: 7px;
  position: relative;
}

.Logoicon3 {
  position: absolute;
  top: -9px;
  left: 11px;
}

.ArrowIcon {
  margin-left: 3px;
}

.Dot {
  margin-top: -10px;
  margin-left: 6px;
}

.RDot {
  margin-left: 4px;
}

.CurrencyList {
  display: none;
}

.CurrencyListShow {
 
  margin-left: -30px;
  z-index: 3000;
}

.BtnC{
  width: 114px;
  height: 45px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: #1d1f22;
  border: none;
  background-color: white;
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
  transition-property: all;
  transition-duration: 0.5s;
  transition-delay: 0.1s;
  transition-timing-function: ease-in;
}



.BtnC:hover {
  background-color: #eeeeee;
}

.BtnList {
  list-style-type: none;
}

.Cart {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.NavCart {
  margin-left: 10px;
  position: relative;
}

.ItemsNo{
  width: 16px;
  height: 16px;
  border: 1px solid #1d1f22;
  border-radius: 50%;
  position: absolute;
  background-color: #1d1f22;
  color: #fff;
  text-align: center;
  right: -12px;
  top: -7px;
  
}

.Modal{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(200,200,200,0.4),rgba(200,200,200,0.4));
  display: flex;
  justify-content: flex-end;
  z-index: 1000;
  position: fixed;
}   