.ParentDiv {
  display: grid;
  grid-template-columns: 14% 86%;
  margin-left: 55px;
}

.FirstChild{
  margin-left: 48%;
  margin-top: 100px;
  width:176px;
  
}

.SecondChild {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  width: 100%;
 
 
}

.ImageFirstChild {
  width: 87px;
  height: 87px;
  cursor: pointer;
  padding: 5px;
}

.ImageSecondChild {
  width: 650px;
  height: 650px;
  cursor: pointer;
  
  background-color: #8D8F9A;
}

.ImageDivSec:hover{
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.ProductFirstName {
  height: 27px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  color: #1d1f22;
}

.ProductSubName {
  height: 27px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
  color: #1d1f22;
}

.AttributesSecondChild {
  
  width: 497px;
}



.ProductAttributeBoxOn {
  width: 63px;
  height: 45px;
  color: #fff;
  background: #1d1f22;
  border: 1px solid #1d1f22;
}


.CDivGP {
  background-color: #44ff03;
  text-align: center;
  border: 1px solid #1d1f22;
  width: 32px;
  height: 32px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  align-items: center;
  padding-top: 6px;
  padding-right: 6px;
  padding-left: 6px;
}

.CDivCP {
  background-color: #03fff7;
  text-align: center;
  border: 1px solid #1d1f22;
  width: 32px;
  height: 32px;
  margin-left: 6px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  align-items: center;
  padding-top: 6px;
  padding-right: 6px;
  padding-left: 6px;
}

.CDivBP {
  background-color: #030bff;
  text-align: center;
  border: 1px solid #1d1f22;
  width: 32px;
  height: 32px;
  margin-left: 6px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  align-items: center;
  padding-top: 6px;
  padding-right: 6px;
  padding-left: 6px;
}

.CDivBlP {
  background-color: #000;
  text-align: center;
  border: 1px solid #1d1f22;
  width: 32px;
  height: 32px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  align-items: center;
  padding-top: 6px;
  padding-right: 6px;
  padding-left: 6px;
  margin-left: 6px;
}

.CDivWP {
  background-color: #ffffff;
  text-align: center;
  border: 1px solid #1d1f22;
  width: 32px;
  height: 32px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  align-items: center;
  padding-top: 6px;
  padding-right: 6px;
  padding-left: 6px;
  margin-left: 6px;
}

.ButtonAdd {
  width: 105px;
  height: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 32px;
  width: 292px;
  height: 52px;
  background: #5ece7b;
  border: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.PriceSecondChild {
  width: 50px;
  height: 18px;

  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height, or 100% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #1d1f22;
}

.PriceValue {
  width: 86px;
  height: 46px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 18px;
  /* or 75% */

  display: flex;
  align-items: center;

  color: #1d1f22;
}

.Description {
  margin-top: 40px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #1d1f22;
}

.ProductDescItemwrapper{
  display: flex;
}