.DescProductAttributeBoxOn{
  width: 63px;
  height: 45px;
  color: #fff;
  background: #1D1F22;
  border: 1px solid #1D1F22;
  text-align: center;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
    }

    .DescProductAttributeBoxOff{
        width: 63px;
        height: 45px;
        border: 1px solid #1D1F22;
        text-align: center;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
        }


.DescProductAttributeBoxOff:not(.DescProductAttributeBoxOff:first-child){
    margin-left: 12px;
  }

  .DescProductAttributeBoxOn:not(.DescProductAttributeBoxOn:first-child){
    margin-left: 12px;
  }

 .DescCartAttItemwrapper{
  display: flex;
 }