.ProductAttributeBoxOn{
    width: 63px;
    height: 45px;
    color: #fff;
    background: #1D1F22;
    border: 1px solid #1D1F22;
    text-align: center;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
    }

    .ProductAttributeBoxOff{
        width: 63px;
        height: 45px;
        border: 1px solid #1D1F22;
        text-align: center;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
        }


.ProductAttributeBoxOff:not(.ProductAttributeBoxOff:first-child){
    margin-left: 12px;
  }

  .ProductAttributeBoxOn:not(.ProductAttributeBoxOn:first-child){
    margin-left: 12px;
  }

 