.ClothesWrapper{
    margin-top: 45px;
    margin-left: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.ClothesTitle {
    margin-left: 110px;
  width: 299px;
  height: 68px;
  text-transform: capitalize;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 67px;
  display: flex;
  align-items: center;
  color: #1d1f22;
}

.ClothesParentDiv {
  margin-top: 50px;
}
